<app-home-page-header></app-home-page-header>
<main>
  <div class="form-container">
    <h2>{{ listName }}</h2>

    @if (recipes.length > 0) {
      <div class="video-grid">
        @for (recipe of recipes; track recipe.id) {
          <div class="video-card" (click)="goToDetails(recipe.id)">
            <img
              [src]="recipe.image ? recipe.image : 'img/logo.jpeg'"
              [alt]="recipe.title"
              class="video-thumbnail"
            />
            <div class="video-info">
              <h3 class="video-title">{{ recipe.title }}</h3>
              @if (recipe.isCustom) {
                <span style="font-size: 0.8rem; color: #512da8; font-weight: bold"
                  >Receta Propia</span
                >
              }
            </div>
          </div>
        }
      </div>
    } @else {
      <p style="text-align: center; font-size: 1.2rem">No hay recetas guardadas en esta lista.</p>
    }
  </div>
</main>
<footer></footer>
