<div class="main-container">
  <h1>¡Bienvenido!</h1>
  <div class="text-container">
    <p>
      ¿Buscás un recetario de comidas?<br />
      ¡Llegaste al lugar indicado! Contamos con una gran variedad de recetas para que cocines con lo
      que tengas a mano<br />
      Registrate gratis y descubrí un mundo de ideas culinarias
    </p>
  </div>

  <div class="image-container">
    <img src="/img/logo.jpeg" alt="Logo" />
  </div>

  <section>
    <div class="title-about-us">
      <h4>¿Quienes somos?</h4>
    </div>

    <div class="about-us">
      <p>
        Somos un grupo de desarrolladores de aplicaciones web, apasionados por la tecnologia
        tratando de mejorar tu alimentacion con una simple APP <br />
      </p>
    </div>
  </section>
</div>
