<div class="main-container">
  <h1>Welcome!</h1>
  <div class="text-container">
    <p>
      Are you looking for a food recipe book?<br />
      You've come to the right place! We have a wide variety of recipes so you can cook with
      whatever you have on hand.<br />
      Register for free and discover a world of culinary ideas
    </p>
  </div>

  <div class="image-container">
    <img src="/img/logo.jpeg" alt="Logo" />
  </div>

  <section>
    <div class="title-about-us">
      <h4>Who are we?</h4>
    </div>

    <div class="about-us">
      <p>
        We are a group of web application developers, passionate about technology trying to improve
        your diet with a simple app <br />
      </p>
    </div>
  </section>
</div>
