<div class="container" [class.active]="isActive">
  <div class="form-container sign-up">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
      <h1>Create Account</h1>
      <input type="email" formControlName="email" placeholder="Email" />
      <div class="password-container">
        <input
          #registerPassword
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <button
          class="reveal"
          type="button"
          [class.activeButton]="revealRegisterPw"
          (click)="onRevealPassword(registerPassword, 'register')"
        >
          @if (!revealRegisterPw) {
          <span class="material-icons">visibility</span>
          } @else {
          <span class="material-icons">visibility_off</span>
          }
        </button>
      </div>
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>

  <div class="form-container sign-in">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <h1>Log in</h1>
      <input type="email" formControlName="email" placeholder="Email" />
      <div class="password-container">
        <input #password type="password" formControlName="password" placeholder="Password" />
        <button
          class="reveal"
          type="button"
          [class.activeButton]="revealLoginPw"
          (click)="onRevealPassword(password, 'login')"
        >
          @if (!revealLoginPw) {
          <span class="material-icons">visibility</span>
          } @else {
          <span class="material-icons">visibility_off</span>
          }
        </button>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Enter</button>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome back!</h1>
        <p>Log in with your personal information</p>
        <button type="button" (click)="activeLogin()">Enter</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Hello!</h1>
        <p>Register with your personal information</p>
        <button type="button" (click)="activeRegister()">Register</button>
      </div>
    </div>
  </div>
</div>
