<app-home-page-header></app-home-page-header>
<main>
  @if (recipe) {
  <div class="recipe-container">
    <h2 class="recipe-title">{{ recipe.title }}</h2>
    <div class="image-container">
      <img [src]="recipe.image" alt="Image of {{ recipe.title }}" class="recipe-image" />
    </div>

    <div class="recipe-info">
      <p><strong>Preparation time:</strong> {{ recipe.readyInMinutes }} minutos</p>
      <p><strong>Score:</strong> {{ recipe.spoonacularScore.toFixed(2) }} / 100</p>
    </div>

    <div class="ingredient-container">
      <h3>Ingredients</h3>
      <div class="ingredient-info">
        <ul class="ingredient-list">
          @for (ingredient of recipe.ingredients; track ingredient.id) {
          <li>
            {{ ingredient.amount.toFixed(1) }}
            {{ ingredient.name }}
            {{ ingredient.unit }}
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="instructions-container">
      <h3>Instructions</h3>
      @if (isInstructionsHtml) {
      <div [innerHTML]="recipe.instructions"></div>
      } @else {
      <ul>
        @for (step of recipeSteps; track $index) {
        <li>
          {{ step }}
        </li>
        }
      </ul>
      }
    </div>

    @if (!isMyRecipe) {
    <button class="add-to-list-button" (click)="listAddActive = true">Add to a list</button>
    <div class="add-to-list">
      @if(listAddActive) {
      <form [formGroup]="formAddToList" (ngSubmit)="addRecipe()">
        <div class="select-button-container">
          <label for="listId"></label>
          <select id="listId" formControlName="listId">
            @for (list of commonUser.recipeLists; track list.id) {
            <option [value]="list.id">{{ list.name }}</option>
            }
          </select>
          <button type="submit" class="add-button">Add</button>
        </div>
      </form>
      }
    </div>

    } @if (isMyRecipe) {
    <div class="form">
      <form [formGroup]="formAnotations" (ngSubmit)="saveAnotations()">
        <div class="anotation-title">Anotations</div>
        <div class="anotation-input">
          <textarea name="form" id="anotation" formControlName="anotations">
            Type here...
          </textarea>
        </div>
        <button type="submit" [disabled]="formAnotations.invalid">Save</button>
      </form>
    </div>
    }
  </div>
  }
</main>
<footer></footer>
