<link
  rel="stylesheet"
  type="text/css"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="footer">
  <div class="social">
    <ul>
      <li>
        <a href="https://github.com/matearg/BonAppetit" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  </div>

  <div class="container">
    <p>© 2024 BonAppetit</p>
  </div>
</div>
