<app-home-page-header></app-home-page-header>
<main class="main-container">
  <div class="content">
    <h3 class="gerenal-title">Mis recetarios</h3>
    <div class="container">
      <button [routerLink]="['/add-list']" class="button">Crear nuevo recetario</button>
    </div>

    @if (lists.length > 0) {
    <div class="info-container">
      <ul class="lists">
        @for (list of lists; track $index) {
        <li class="list-item">
          <p class="list-name">{{ list.name }}</p>
          <button class="button" (click)="seeListDetails(list.id)">Ver recetas</button>
          <button class="button" (click)="deleteList(list.id)">Eliminar recetario</button>
        </li>
        }
      </ul>
    </div>
    } @else {
    <div class="no-list-container">
      <p class="no-lists">No tienes listas personalizadas creadas.</p>
    </div>
    }
  </div>
</main>
<footer></footer>
