:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.login-animation {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
