<app-home-page-header></app-home-page-header>

<main class="main-section">
  <app-home-page-menu></app-home-page-menu>

  <div class="container-section">
    <section>
      <div class="cont-p">
        <p>
          Are you out of ideas for food? <br />
          Here are some recipes to inspire you <br />
          and try something new <br />
          Let's get cooking!
        </p>
      </div>

      <button (click)="getRandomRecipes()">More recipes</button>

      <div class="video-grid">
        @for (item of recipeList; track item.id) {
          <div class="video-card" (click)="navigateToDetails(item)">
            <img [src]="item.image" [alt]="item.title" class="video-thumbnail" />
            <div class="video-info">
              <h3 class="video-title">{{ item.title }}</h3>
            </div>
          </div>
        }
      </div>
    </section>
  </div>
</main>

<footer></footer>
