<app-home-page-header></app-home-page-header>

<main class="main-section">
  <app-home-page-menu></app-home-page-menu>

  <div class="container-section">
    <section>
      <div class="cont-p">
        <p>
          Are you out of ideas for food? <br />
          Here are five recipes to inspire you <br />
          and try something new <br />
          Let's get cooking!
        </p>
      </div>

      <button (click)="getRandomRecipes()">More recipes</button>

      <div class="cont-recipes">
        @for (item of recipeList; track $index) {
        <app-recipe-card [recipe]="item" (viewDetails)="navigateToDetails($event)">
        </app-recipe-card>
        }
      </div>
    </section>
  </div>
</main>

<footer></footer>
