<app-home-page-header></app-home-page-header>
<main>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="searchVideos()" class="search-form">
      <h2>Encuentra Recetas en YouTube</h2>
      <input
        type="text"
        formControlName="searchQuery"
        placeholder="Ej: Quiero una cena ligera con pollo..."
      />
      <button type="submit" class="button" [disabled]="isSearching">
        @if (isSearching) {
          Buscando...
        } @else {
          Buscar
        }
      </button>
    </form>

    @if (isSearching) {
      <div class="loading-message">
        <p>Buscando los mejores videos para ti...</p>
      </div>
    }

    @if (videoList.length > 0) {
      <div class="video-grid">
        @for (video of videoList; track video.videoId) {
          <div class="video-card" (click)="goToVideo(video)">
            <img [src]="video.thumbnailUrl" [alt]="video.title" class="video-thumbnail" />
            <div class="video-info">
              <h3 class="video-title">{{ video.title }}</h3>
            </div>
          </div>
        }
      </div>
    }
  </div>
</main>
<footer></footer>
