<app-home-page-header></app-home-page-header>
<main>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="setIngredients()" class="search-form">
      <h2>Recipe Search</h2>
      <input
        type="text"
        name="ingredients"
        id="ingredients"
        formControlName="ingredients"
        placeholder="Type ingredients..."
      />
      <button type="submit" class="button" (click)="recipeContainerActive = true">Search</button>
    </form>

    @if (recipeContainerActive) {
    <div class="recipes-container">
      @for (item of recipeList; track $index) {
      <div>
        <app-recipe-card
          [recipe]="item"
          (viewDetails)="navigateToDetails($event)"
        ></app-recipe-card>
      </div>
      }
      <button class="similars" (click)="updateRecipes()">See similar recipes</button>
    </div>
    }
  </div>
</main>
<footer></footer>
